
#page-orphanages {
    width: 100%;
    height: 100%;

    display: flex;
}

aside {
width: clamp(24rem, 25vw, 44rem);
background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);
padding: 8rem;

display: flex ;
flex-direction: column;
justify-content: space-between;
}